/* crear-curso.component.scss */

/* Agrega estilos según tus preferencias */
.container {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  h2 {
    font-size: 2em;
    color: #0f0e0e; /* Cambia el color según tus preferencias */
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #161414; /* Cambia el color según tus preferencias */
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0c0b0b;
    border-radius: 5px;
  }
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #080707;
    border-radius: 5px;
  }
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #181616;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Cambia el color según tus preferencias */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049; /* Cambia el color según tus preferencias */
  }
  