/* listar-productos.component.css */

.cliente-list {
    max-width: 800px;
    margin: 20px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid black; /* Líneas negras */
  }
  
  thead {
    background-color: #333; /* Fondo gris oscuro para el titular */
    color: white; /* Texto blanco para el titular */
  }
  
  th, td {
    padding: 10px;
    border: 1px solid black; /* Líneas negras */
    text-align: left;
  }
  
  .btn-editar, .btn-eliminar {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .btn-editar {
    background-color: #4CAF50; /* Verde para el botón "Editar" */
  }
  
  .btn-eliminar {
    background-color: #f44336; /* Rojo para el botón "Eliminar" */
  }
  
  .titulo-lista {
    color: #333; /* Texto gris oscuro para el titular */
  }
  